<mat-card class="example-card" *ngIf="!isLoadingResults">

  <form class="example-form" [formGroup]="userForm" (ngSubmit)="onFormSubmit(userForm.value)">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="First Name" formControlName="first_name">
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <input matInput placeholder="Last Name" formControlName="last_name">
    </mat-form-field>

    <mat-card-actions>
      <button type="submit" mat-flat-button color="primary"> Save </button>
      <button mat-button color="warn" [routerLink]="['/']">Back</button>
      <button mat-button color="accent" [routerLink]="['/userdetail/', user.id]">View</button>
    </mat-card-actions>
  </form>
</mat-card>
<mat-spinner *ngIf="isLoadingResults"></mat-spinner>
<mat-card *ngIf="isLoadingResults" class="example-card">
    <mat-card-header>
      <mat-card-title>Please wait, Data is Loading...</mat-card-title>
    </mat-card-header>
</mat-card>


<div *ngIf="showEditDetail">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + user.avatar + ')', 'background-size': 'cover'  }">
      </div>
      <mat-card-title>{{user.first_name}}</mat-card-title>
      <mat-card-subtitle>{{user.last_name}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="{{user.avatar}}" alt="Photo of {{user.first_name}}">
  </mat-card>
</div>
